In [10]:
import pandas as pd
import numpy as np
import gmaps

In [2]:
df = pd.read_csv('Coordinates Converted_Simplified Citation After 2015 July to 2019.csv')

In [3]:
df

,Unnamed: 0,Issue Date,Issue time,Violation Description,Day of Week,Latitude,Longitude
0,0,2019-09-17,1205,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024
1,1,2019-09-17,853,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126
2,2,2019-09-17,833,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957
3,3,2019-09-17,1015,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775
4,4,2019-09-17,1007,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472
...,...,...,...,...,...,...,...
76133,87549,2015-07-02,1622,METER EXP.,Thursday,34.042926,-118.211886
76134,87550,2015-07-02,1302,NO PARK/STREET CLEAN,Thursday,34.166789,-118.398139
76135,87551,2015-07-02,1325,NO PARK/STREET CLEAN,Thursday,33.960751,-118.439362
76136,87552,2015-07-02,1256,NO STOP/STANDING,Thursday,33.958915,-118.448378
76137,87553,2015-07-02,1017,NO PARK/STREET CLEAN,Thursday,34.039664,-118.322450

In [4]:
df.describe()

         Unnamed: 0    Issue time      Latitude     Longitude
count  76138.000000  76138.000000  76138.000000  76138.000000
mean   42348.474993   1200.391171     34.071318   -118.349744
std    24306.235390    478.228900      0.078676      0.090452
min        0.000000      1.000000     33.706349   -118.665497
25%    21930.250000    910.000000     34.039778   -118.429700
50%    42187.500000   1153.000000     34.061938   -118.339661
75%    62146.750000   1511.000000     34.101579   -118.275918
max    87553.000000   2359.000000     34.327592   -118.160250

In [7]:
df['Violation Description'].value_counts()[:50]

NO PARK/STREET CLEAN              21699
METER EXP.                        14188
RED ZONE                           5851
PREFERENTIAL PARKING               5701
DISPLAY OF TABS                    4488
NO PARKING                         3512
DISPLAY OF PLATES                  2268
PARKED OVER TIME LIMIT             1748
WHITE ZONE                         1700
NO STOP/STANDING                   1403
BLOCKING DRIVEWAY                   993
STANDNG IN ALLEY                    961
PARKED OVER TIME LIM                809
STOP/STAND PROHIBIT                 800
YELLOW ZONE                         786
NO STOP/STAND                       736
PARKED ON SIDEWALK                  718
18 IN. CURB/2 WAY                   638
NO STOPPING/ANTI-GRIDLOCK ZONE      621
FIRE HYDRANT                        581
DOUBLE PARKING                      550
EXCEED 72HRS-ST                     510
OUTSIDE LINES/METER                 498
OFF STR/OVERTIME/MTR                452
NO EVIDENCE OF REG                  282
NO STOPPING/ANTI-GRI                260
PARKED IN PARKWAY                   213
COMM VEH OVER TIME LIMIT            205
DISABLED PARKING/NO DP ID           195
OVNIGHT PRK W/OUT PE                148
WHITE CURB                          147
PRIVATE PROPERTY                    131
METER EXPIRED                       123
EXPIRED TAGS                        112
PREF PARKING                        102
18 IN/CURB/COMM VEH                  96
RESTRICTED TAXI ZONE                 96
PK IN PROH AREA                      76
COMM VEH OVER TIME L                 72
NO STOPPING/STANDING                 72
HANDICAP/NO DP ID                    70
DISABLED PARKING/NO                  67
CITY PARK/PROHIB                     66
PARKED IN CROSSWALK                  66
COMM TRAILER/22 FT.                  66
PARKED IN BUS ZONE                   64
PARKING/FRONT YARD                   51
18 IN. CURB/1 WAY                    48
BLK BIKE PATH OR LANE                48
DSPLYPLATE A                         47
Name: Violation Description, dtype: int64

In [8]:
df.isnull().sum()

Unnamed: 0               0
Issue Date               0
Issue time               0
Violation Description    0
Day of Week              0
Latitude                 0
Longitude                0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76138 entries, 0 to 76137
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             76138 non-null  int64
 1   Issue Date             76138 non-null  object
 2   Issue time             76138 non-null  int64
 3   Violation Description  76138 non-null  object
 4   Day of Week            76138 non-null  object
 5   Latitude               76138 non-null  float64
 6   Longitude              76138 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 4.1+ MB

In [11]:
gmaps.configure(api_key='')

In [81]:
[citation['Location'] for index, citation in df[:10].iterrows()]

[(33.9894116011476, -118.46902420083099),
 (33.962435471869, -118.290125576956),
 (34.0321199972324, -118.284957001686),
 (33.9942840016834, -118.474774998014),
 (34.095216979517005, -118.33747210209499),
 (34.071392776441996, -118.27439176218701),
 (34.1902899028309, -118.464222754508),
 (34.109338748382, -118.316927002091),
 (34.0537739599506, -118.369243943522),
 (34.0154809973318, -118.29153700351999)]

In [82]:
df = pd.read_csv('Coordinates Converted_Simplified Citation After 2015 July to 2019.csv')
citation_locations = [citation['Location'] for index, citation in df.iterrows()]
info_box_template = """
<dl>
<dt>Violation</dt><dd>{Violation_Description}</dd>
<dt>Issue time</dt><dd>{Issue_time}</dd>
<dt>Issue Date</dt><dd>{Issue_Date}</dd>
</dl>
"""
citation_info = [info_box_template.format(**citation) for index, citation in df.iterrows()]

marker_layer = gmaps.marker_layer(citation_locations, info_box_content=citation_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
df['Location'] = (list(zip(df.Latitude, df.Longitude)))

In [28]:
df.columns =  ['Issue_Date', 'Issue_time', 'Violation_Description', 'Day_of_Week',
       'Latitude', 'Longitude', 'Location']

In [29]:
df.head()

,Issue_Date,Issue_time,Violation_Description,Day_of_Week,Latitude,Longitude,Location
0,2019-09-17,1205,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024,"(33.9894116011476, -118.46902420083099)"
1,2019-09-17,853,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126,"(33.962435471869, -118.290125576956)"
2,2019-09-17,833,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957,"(34.0321199972324, -118.284957001686)"
3,2019-09-17,1015,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775,"(33.9942840016834, -118.474774998014)"
4,2019-09-17,1007,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472,"(34.095216979517005, -118.33747210209499)"