In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
%matplotlib inline

In [2]:
df=pd.read_csv("C:\Parking_Citations_After_July_1_2015.csv",low_memory=False)
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06

In [3]:
skip = pd.Series(np.random.binomial(1, 0.1, len(df)), index=df.index)

In [4]:
subset = df[skip==1]

In [5]:
df.shape, subset.shape

((8706412, 18), (871020, 18))

In [7]:
subset.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
6,4361354034,2019/09/17 12:00:00 AM,1750.0,MD413,NaN,CA,NaN,HOND,PA,GY,1601 EASTLAKE AV,00600,56.0,88.13B+,METER EXP.,63,6.498692e+06,1.846041e+06
7,4361342101,2019/09/17 12:00:00 AM,1452.0,NaN,NaN,CA,NaN,FORD,PU,WT,530 LOS ANGELES ST S,00665,56.0,80.56E4+,RED ZONE,93,6.486540e+06,1.839072e+06
62,4361319362,2019/09/17 12:00:00 AM,554.0,525,NaN,CA,NaN,LNDR,PA,BK,942 LAKE ST,501R,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68,6.421787e+06,1.822930e+06
69,4361319292,2019/09/17 12:00:00 AM,534.0,525,NaN,CA,NaN,JEEP,PA,GY,821 FLOWER AVE,501R,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68,6.420339e+06,1.823073e+06
75,4361319233,2019/09/17 12:00:00 AM,224.0,NaN,NaN,CA,NaN,MERZ,PA,BK,13050 MINDANAO WAY,501R,51.0,80.69B,NO PARKING,73,9.999900e+04,9.999900e+04

In [ ]:
# need to pull this file to esv file