In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from datetime import time

sns.set()
%matplotlib inline

In [2]:
df = pd.read_csv("..\data\Parking_Citations_After_July_1_2015.csv", low_memory=False)
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06

In [3]:
len(df)

8706412

In [3]:
#remove the columns that I don't think are neccessary for this analysis
df= df.drop(["Ticket number",	"Meter Id",	"Marked Time",	"RP State Plate",	"Make",	"Body Style",	"Color",	"VIN",	"Violation code",	"Fine amount"], axis = 1)
#df= df.drop(["Route",	"Agency",	"Violation code",	"Violation Description",	"Fine amount"], axis = 1)

In [4]:
df.head()

,Issue Date,Issue time,Location,Route,Agency,Violation Description,Latitude,Longitude
0,2019/09/17 12:00:00 AM,817.0,1324 84TH PL W,00551,55.0,NO PARK/STREET CLEAN,6.471017e+06,1.808559e+06
1,2019/09/17 12:00:00 AM,811.0,1000 85TH ST W,00551,55.0,METER EXP.,6.473192e+06,1.808298e+06
2,2019/09/17 12:00:00 AM,809.0,1000 85TH ST W,00551,55.0,NO PARK/STREET CLEAN,6.473192e+06,1.808298e+06
3,2019/09/17 12:00:00 AM,805.0,8021 VERMONT AVE,00551,55.0,NO PARK/STREET CLEAN,6.473164e+06,1.810388e+06
4,2019/09/17 12:00:00 AM,727.0,1473 45TH ST W,00551,55.0,BLOCKING DRIVEWAY,6.469917e+06,1.823537e+06

In [5]:
x=(1850000<df['Longitude'])&(df['Longitude']<1875000)& (6490000<df['Latitude'])&(df['Latitude']<6520000)

In [6]:
sdf=df[x]
sdf.head()

,Issue Date,Issue time,Location,Route,Agency,Violation Description,Latitude,Longitude
152,2019/09/17 12:00:00 AM,2103.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06
153,2019/09/17 12:00:00 AM,2102.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06
154,2019/09/17 12:00:00 AM,2100.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06
155,2019/09/17 12:00:00 AM,2050.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06
156,2019/09/17 12:00:00 AM,2049.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06

In [7]:
len(sdf)

192383

In [8]:
 #create data Series num_sdf
num_sdf=sdf['Location'].value_counts()

In [9]:
# reduce data series to be less unique values 
final_sdf = num_sdf[num_sdf>=50] # can be changed to 10 later on 
#list of index
final_sdf_index=final_sdf.index.tolist()

In [10]:
final_index = sdf['Location'].isin(final_sdf_index)

In [11]:
final_sdf = sdf[final_index]

In [12]:
final_sdf.shape

(61990, 8)

In [13]:
final_sdf.head()

,Issue Date,Issue time,Location,Route,Agency,Violation Description,Latitude,Longitude
152,2019/09/17 12:00:00 AM,2103.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06
153,2019/09/17 12:00:00 AM,2102.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06
154,2019/09/17 12:00:00 AM,2100.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06
155,2019/09/17 12:00:00 AM,2050.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06
156,2019/09/17 12:00:00 AM,2049.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06

In [14]:
# convert location string to location ID 
final_sdf['Location']=final_sdf['Location'].astype('category')
final_sdf['Location_id']=final_sdf['Location'].cat.codes
final_sdf

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Issue Date,Issue time,Location,Route,Agency,Violation Description,Latitude,Longitude,Location_id
152,2019/09/17 12:00:00 AM,2103.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182
153,2019/09/17 12:00:00 AM,2102.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182
154,2019/09/17 12:00:00 AM,2100.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182
155,2019/09/17 12:00:00 AM,2050.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06,51
156,2019/09/17 12:00:00 AM,2049.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06,51
166,2019/09/17 12:00:00 AM,1124.0,2000 COLORADO BL,00600,56.0,METER EXP.,6.497940e+06,1.873141e+06,79
167,2019/09/17 12:00:00 AM,1122.0,2000 COLORADO BL,00600,56.0,METER EXP.,6.497940e+06,1.873141e+06,79
169,2019/09/17 12:00:00 AM,1112.0,5063 CASPAR AV,00600,56.0,METER EXP.,6.497186e+06,1.872793e+06,201
178,2019/09/17 12:00:00 AM,1952.0,5047 YORK BL,00610,56.0,METER EXP.,6.499353e+06,1.866584e+06,189
179,2019/09/17 12:00:00 AM,1951.0,5047 YORK BL,00610,56.0,METER EXP.,6.499353e+06,1.866584e+06,189
183,2019/09/17 12:00:00 AM,1941.0,1252 AVENUE 51 N,00610,56.0,METER EXP.,6.499631e+06,1.866235e+06,57
184,2019/09/17 12:00:00 AM,1939.0,1259 AVENUE 51 N,00610,56.0,METER EXP.,6.499632e+06,1.866240e+06,61
185,2019/09/17 12:00:00 AM,1935.0,5118 YORK BL,00610,56.0,DISPLAY OF TABS,6.499812e+06,1.866477e+06,225
186,2019/09/17 12:00:00 AM,1930.0,5123 YORK BL,00610,56.0,METER EXP.,6.499838e+06,1.866471e+06,227
187,2019/09/17 12:00:00 AM,1928.0,5116 YORK BL,00610,56.0,METER EXP.,6.499799e+06,1.866480e+06,224
188,2019/09/17 12:00:00 AM,1927.0,5110 YORK BL,00610,56.0,METER EXP.,6.499759e+06,1.866489e+06,222
189,2019/09/17 12:00:00 AM,1925.0,5100 YORK BL,00610,56.0,METER EXP.,6.499694e+06,1.866505e+06,219
191,2019/09/17 12:00:00 AM,1921.0,1301 AVENUE 51 N,00610,56.0,DISPLAY OF PLATES,6.499694e+06,1.866505e+06,64
192,2019/09/17 12:00:00 AM,1920.0,1301 AVENUE 51 N,00610,56.0,METER EXP.,6.499694e+06,1.866505e+06,64
193,2019/09/17 12:00:00 AM,1915.0,5001 YORK BL,00610,56.0,METER EXP.,6.499051e+06,1.866654e+06,162
195,2019/09/17 12:00:00 AM,1804.0,5042 YORK BL,00610,56.0,METER EXP.,6.499327e+06,1.866590e+06,186
539,2019/09/17 12:00:00 AM,2112.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182
540,2019/09/17 12:00:00 AM,2107.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182
1553,2019/09/16 12:00:00 AM,1147.0,2000 COLORADO BL,00600,56.0,METER EXP.,6.497940e+06,1.873141e+06,79
1554,2019/09/16 12:00:00 AM,1146.0,2000 COLORADO BL,00600,56.0,METER EXP.,6.497940e+06,1.873141e+06,79
1555,2019/09/16 12:00:00 AM,1132.0,5000 EAGLE ROCK BL,00600,56.0,METER EXP.,6.496683e+06,1.872324e+06,150
1556,2019/09/16 12:00:00 AM,1130.0,5000 EAGLE ROCK BL,00600,56.0,METER EXP.,6.496683e+06,1.872324e+06,150
3339,2019/09/13 12:00:00 AM,958.0,2580 SOTO ST N,00600,56.0,DISPLAY OF PLATES,6.503039e+06,1.850376e+06,116
3340,2019/09/13 12:00:00 AM,956.0,2580 SOTO ST N,00600,56.0,RED ZONE,6.503039e+06,1.850376e+06,116
3397,2019/09/13 12:00:00 AM,1131.0,5063 N CASPAR AVE,00600,56.0,18 IN. CURB/2 WAY,6.497186e+06,1.872793e+06,203
...,...,...,...,...,...,...,...,...,...
8700343,2015/07/02 12:00:00 AM,1157.0,1800 HILL ST S,00656,56.0,METER EXP.,6.499222e+06,1.874688e+06,67
8700366,2015/07/02 12:00:00 AM,1323.0,2055 FIGUEROA ST N,00673,56.0,DISABLED PARKING/NO,6.493210e+06,1.852050e+06,89
8700369,2015/07/02 12:00:00 AM,1247.0,5079 MAYWOOD AVENUE,00673,56.0,NO PARK/STREET CLEAN,6.497638e+06,1.873071e+06,211
8700370,2015/07/02 12:00:00 AM,1244.0,2200 MERTON AV,00673,56.0,METER EXP.,6.495737e+06,1.872807e+06,105
8701036,2015/07/02 12:00:00 AM,1453.0,5000 CASPAR AV,00672,56.0,METER EXP.,6.497080e+06,1.872235e+06,148
8701037,2015/07/02 12:00:00 AM,1451.0,5000 CASPAR AV,00672,56.0,METER EXP.,6.497080e+06,1.872235e+06,148
8701055,2015/07/02 12:00:00 AM,1003.0,5000 CASPAR AV,00673,56.0,METER EXP.,6.497080e+06,1.872235e+06,148
8701545,2015/07/02 12:00:00 AM,1555.0,1252 AVENUE 51 N,677R1,56.0,METER EXP.,6.499631e+06,1.866235e+06,57
8701551,2015/07/02 12:00:00 AM,1403.0,6039 FIGUEROA ST N,677R1,56.0,METER EXP.,6.504484e+06,1.863011e+06,295
8702110,2015/07/02 12:00:00 AM,1424.0,5817 FIGUEROA ST N,00675,56.0,METER EXP.,6.503754e+06,1.862584e+06,277
8702120,2015/07/02 12:00:00 AM,1018.0,5631 FIGUEROA ST N,00675,56.0,METER EXP.,6.503008e+06,1.862145e+06,257
8702121,2015/07/02 12:00:00 AM,1001.0,1301 AVENUE 51 N,00675,56.0,METER EXP.,6.499694e+06,1.866505e+06,64
8702122,2015/07/02 12:00:00 AM,957.0,5123 YORK BL,00675,56.0,METER EXP.,6.499838e+06,1.866471e+06,227
8702123,2015/07/02 12:00:00 AM,951.0,5040 YORK BL,00675,56.0,METER EXP.,6.499314e+06,1.866593e+06,184
8702872,2015/07/02 12:00:00 AM,143.0,2500 HUMBOLDT ST,00600,56.0,NO PARKING,6.495457e+06,1.851373e+06,114
8702873,2015/07/02 12:00:00 AM,141.0,2500 HUMBOLDT ST,00600,56.0,NO PARKING,6.495457e+06,1.851373e+06,114
8702874,2015/07/02 12:00:00 AM,110.0,5001 LINCOLN AVE,00600,56.0,NO PARKING,6.498976e+06,1.866332e+06,161
8703310,2015/07/02 12:00:00 AM,818.0,101 AVENUE 59 E,647R2,56.0,METER EXP.,6.503851e+06,1.862640e+06,34
8703572,2015/07/02 12:00:00 AM,1112.0,5079 MAYWOOD AVE N,00675,56.0,NO PARK/STREET CLEAN,6.497638e+06,1.873071e+06,210
8703573,2015/07/02 12:00:00 AM,1111.0,5079 MAYWOOD AVE N,00675,56.0,NO PARK/STREET CLEAN,6.497638e+06,1.873071e+06,210
8704464,2015/07/02 12:00:00 AM,1233.0,5082 SHEARIN AVE,00632,56.0,NO PARK/STREET CLEAN,6.497944e+06,1.873031e+06,217
8704465,2015/07/02 12:00:00 AM,1231.0,5080 SHEARIN AVE,00632,56.0,NO PARK/STREET CLEAN,6.497944e+06,1.873018e+06,216
8704644,2015/07/02 12:00:00 AM,1810.0,5801 FIGUEROA ST N,00672,56.0,METER EXP.,6.503599e+06,1.862493e+06,272
8704645,2015/07/02 12:00:00 AM,1743.0,5701 FIGUEROA ST N,00672,56.0,METER EXP.,6.503287e+06,1.862310e+06,262
8704646,2015/07/02 12:00:00 AM,1738.0,5801 FIGUEROA ST N,00672,56.0,METER EXP.,6.503599e+06,1.862493e+06,272
8704648,2015/07/02 12:00:00 AM,1723.0,116 AVENUE 56 S,00672,56.0,DISPLAY OF TABS,6.502848e+06,1.862134e+06,42
8704649,2015/07/02 12:00:00 AM,1720.0,116 AVENUE 56 S,00672,56.0,OFF STR/OVERTIME/MTR,6.502848e+06,1.862134e+06,42
8704651,2015/07/02 12:00:00 AM,1707.0,2600 PASADENA AV,00672,56.0,METER EXP.,6.496365e+06,1.850332e+06,118
8704661,2015/07/02 12:00:00 AM,1059.0,2500 HUMBOLDT ST,00643,40.0,DISPLAY OF TABS,6.495457e+06,1.851373e+06,114
8705933,2015/07/02 12:00:00 AM,1207.0,1822 HILL ST S,00600,56.0,METER EXP.,6.499022e+06,1.874738e+06,69

In [15]:
final_sdf['Issue Date'] = pd.to_datetime(final_sdf['Issue Date']) #change string to datetime
final_sdf['Time'] = pd.to_datetime(final_sdf['Issue time'], format= '%H%M', errors= "coerce").dt.time #change time in new column

#create an hour feature
final_sdf['Hour'] = final_sdf['Time'].apply(lambda x: x.hour) 
#fix converting bug
final_sdf['Hour'].fillna(0, inplace = True)

#create day of the week
weekdays=('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
final_sdf['Weekday'] = final_sdf['Issue Date'].apply(lambda x : weekdays[x.weekday()])
final_sdf.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,Issue Date,Issue time,Location,Route,Agency,Violation Description,Latitude,Longitude,Location_id,Time,Hour,Weekday
152,2019-09-17,2103.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182,21:03:00,21.0,Tuesday
153,2019-09-17,2102.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182,21:02:00,21.0,Tuesday
154,2019-09-17,2100.0,5033 LINCOLN AVE,00600,56.0,OFF STR/OVERTIME/MTR,6.499186e+06,1.866284e+06,182,21:00:00,21.0,Tuesday
155,2019-09-17,2050.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06,51,20:50:00,20.0,Tuesday
156,2019-09-17,2049.0,123 AVE 57 N,00600,56.0,OFF STR/OVERTIME/MTR,6.503242e+06,1.862387e+06,51,20:49:00,20.0,Tuesday

In [16]:
p_sdf= final_sdf.drop(["Issue Date",	"Issue time",	"Location",	"Route",	"Agency",	"Violation Description",	"Latitude",	"Longitude",	"Time"], axis = 1)

In [17]:
clean_sdf=p_sdf.dropna()
clean_sdf.apply(lambda x: sum(x.isna()),axis = 0)
clean_sdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61990 entries, 152 to 8705933
Data columns (total 3 columns):
Location_id    61990 non-null int16
Hour           61990 non-null float64
Weekday        61990 non-null object
dtypes: float64(1), int16(1), object(1)
memory usage: 1.5+ MB

In [18]:
clean_sdf.head()

     Location_id  Hour  Weekday
152          182  21.0  Tuesday
153          182  21.0  Tuesday
154          182  21.0  Tuesday
155           51  20.0  Tuesday
156           51  20.0  Tuesday

In [19]:
filled_sdf = pd.get_dummies(clean_sdf, columns=['Weekday'])
filled_sdf.head()

,Location_id,Hour,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
152,182,21.0,0,0,0,0,0,1,0
153,182,21.0,0,0,0,0,0,1,0
154,182,21.0,0,0,0,0,0,1,0
155,51,20.0,0,0,0,0,0,1,0
156,51,20.0,0,0,0,0,0,1,0

In [20]:
# Labels are the values we want to predict
labels = np.array(filled_sdf['Location_id'])
# Remove the labels from the features
# axis 1 refers to the columns
filled_sdf= filled_sdf.drop('Location_id', axis = 1)
# Saving feature names for later use
feature_list = list(filled_sdf.columns)
# Convert to numpy array
filled_sdf = np.array(filled_sdf)

In [21]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

In [22]:
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(filled_sdf, labels, test_size = 0.3, random_state = 42)

In [23]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (43393, 8)
Training Labels Shape: (43393,)
Testing Features Shape: (18597, 8)
Testing Labels Shape: (18597,)

In [24]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, precision_score

In [26]:
# Instantiate model with 1000 decision trees
#rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)
# Train the model on training data
#rf.fit(train_features, train_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [25]:
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42,max_depth=10,min_samples_leaf=10 )
# Train the model on training data
rf.fit(train_features, train_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=10, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [26]:
prediction =rf.predict(test_features)
prediction

array([162, 148,  51, ..., 148, 195, 210], dtype=int16)

In [27]:
test_labels

array([201, 116,  51, ..., 259, 182,  55], dtype=int16)

In [28]:
correct_prediction=prediction[test_labels == prediction]
len(correct_prediction)

2021

In [29]:
len(prediction) - len(correct_prediction)

16576

In [31]:
from sklearn.metrics import make_scorer
from sklearn.metrics import log_loss
from sklearn.model_selection import GridSearchCV
model = RandomForestClassifier(n_estimators = 1000, random_state = 42)
depth_parm = [5, 10, 15, 20]
num_samples_parm = [5,8,10]
parameters = {'max_depth' : depth_parm,
             'min_samples_leaf' : num_samples_parm}
scorer = make_scorer(log_loss,
                     greater_is_better=False,
                     needs_proba=True)
clf = GridSearchCV(model,
                   parameters,
                   cv=10,
                   scoring=scorer)

clf.fit(train_features, train_labels)
#print(clf.best_params_)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=1000, n_jobs=None,
                                              oob_score=False, random_state=42,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [5, 10, 15, 20],
                         'min_samples_leaf': [5, 8, 10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=make_scorer(log_loss, greater_is_better=False, needs_proba=True),
             verbose=0)

In [33]:

print(clf.best_params_)

{'max_depth': 10, 'min_samples_leaf': 10}